<% layout("/layouts/boilerplate") %>
<body>
  <div class="india">
    <img 
      src="https://i.pinimg.com/originals/ea/14/0a/ea140a9f6e4681b64b35262cf873f026.png" class="ind_flag" alt="india"
    />
  </div>
  <div class="song">
    <h4 class="song-color">
      <p>जनगण मन-अधिनायक जय हे,</p>
      <p>भारत भाग्यविधाता!</p>
      <p>पंजाब सिन्ध गुजरात मराठा</p>
      <p>द्राविड़ उत्कल बंग,</p>
      <p>विन्ध्य हिमाचल यमुना गंगा</p>
      <p>उच्छल जलधितरंग,</p>
      <p>तव शुभ नामे जागे,</p>
      <p>तव शुभ आशिष मागे,</p>
      <p>गाहे तव जयगाथा।</p>
      <p>जन गण मंगलदायक जय हे,</p>
      <p>भारत भाग्य विधाता!</p>
      <p>जय हे, जय हे, जय हे,</p>
      <p>जय जय जय जय हे।।</p>
    </h4>
  </div>
</body>